{% extends 'base.html' %}

{% block body_block %}

<div class="container">
    <h1 class="text-center my-5 display-4 text-info  ">About Us</h1>
    
    <div class="pb-5" style="font-weight: bold;">
        <p>A gym, short for gymnasium, is an open air or covered location for gymnastics and athletics and gymnastic services such as in schools and colleges, from the ancient Greek gymnasium.</p>
    <p>Gymnasia apparatus such as bar-bells, parallel bars, jumping board, running path, tennis-balls, cricket field, fencing area, and so forth are used as exercises. In safe weather, outdoor locations are the most conductive to health. Gyms were popular in ancient Greece. Their curricula included Gymnastica militaria or self-defense, gymnastica medica, or physical therapy to help the sick and injured, and gymnastica athletica for physical fitness and sports, from boxing to dance.</p>
    <p>These gymnasia also had teachers of wisdom and philosophy. Community gymnastic events were done as part of the celebrations during various village festivals. In ancient Greece there was a phrase of contempt, "He can neither swim nor write." After a while, however, Olympic athletes began training in buildings just for them.</p>
    <p>Community sports never became as popular among ancient Romans as it had among the ancient Greeks. Gyms were used more as a preparation for military service or spectator sports. During the Roman Empire, the gymnastic art was forgotten. In the Dark Ages there were sword fighting tournaments and of chivalry; and after gunpowder was invented sword fighting began to be replaced by the sport of fencing. There were schools of dagger fighting and wrestling and boxing.</p>
    </div>
</div>


{% endblock %}