{% extends 'base.html' %}

{% block body_block %}

<div class="">

    <div class="row height bg-secondary align-items-center pl-2" style="min-height: 80vh;">
        <div class="col">
            <h2 class="text-capitalize display-4">
                <strong class="text-danger">RAWALPINDI <span class="text-success">FITNESS CLUB</span></strong>
            </h2>
            <p>A gym, short for gymnasium, is an open air or covered location for gymnastics and athletics and gymnastic services such as in schools and colleges, from the ancient Greek gymnasium.
            </p>
            <p>Gymnasia apparatus such as bar-bells, parallel bars, jumping board, running path, tennis-balls, cricket field, fencing area, and so forth are used as exercises. In safe weather, outdoor locations are the most conductive to health. Gyms were popular in ancient Greece. Their curricula included Gymnastica militaria or self-defense, gymnastica medica, or physical therapy to help the sick and injured, and gymnastica athletica for physical fitness and sports, from boxing to dance.</p>
        </div>
    </div>

    <div class="py-5 text-center text-white " style="background-color: #4e20ff;">
        <h2 class="display-5 ">want to join</h2>
        <p>This is our 24/7 contact number</p>
        <button class="btn bg-warning" data-toggle="modal" data-target="#exampleModalCenter">join now</button>
    </div>


</div>







{% endblock %}