{% extends 'admin_base.html' %}
{% load bootstrap4 %}
{% block body_block %}

<div class="container ">

  <div class="row" style="background-color: #212429;">
  <div class="col-md-6">
    <h1 class="text-light text-center py-3" >List of members</h1>
  </div>
  <div class="col-md-6 m-auto ">

    <form class="form-inline my-2 my-lg-0 pl-3" method="POST" action="{% url 'manager:memberSearch' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="searh" placeholder="Search only by username" aria-label="Search" name='data' >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>


    <table class="table table-secondary">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">age</th>
            <th scope="col">height</th>
            <th scope="col">weight</th>
          </tr>
        </thead>
        <tbody>
        {% for i in member_info %}
            <tr>
                <td><a href="{% url 'manager:memberDetail' pk=i.pk %}"> {{i.pk}} </a></td>
                <td><a href="{% url 'manager:memberDetail' pk=i.pk %}"> {{i.username}} </a></td>
                <td> {{i.name}} </td>
                <td> {{i.email}} </td>
                <td> {{i.age}} </td>
                <td> {{i.height}} </td>
                <td> {{i.weight}} </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    


</div>

{% endblock %}